pytorch2keras==0.2.4  
numpy==1.17.5
scipy
opencv-python
opencv-contrib-python
tensorflow==2.3.1
keras
keras_applications
tensorflow-model-optimization
matplotlib
tqdm
pillow
mnn
Cython
pycocotools
keras2onnx
tf2onnx
onnx
onnxruntime
tfcoreml
sympy
imgaug
imagecorruptions
bokeh
tidecv